body {
  background: linear-gradient(to right, black, #333);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}
.info {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.button-group {
  display: flex;
  justify-content: space-start;
  align-items: center;
  width: 100%;
  max-width: 4000px;
  padding: 1rem 0;
  background-color: black;
  box-sizing: border-box;
}
.button {
  border: 1px solid transparent;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  cursor: pointer;
  color: white;
  border-radius: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem 0;
  box-sizing: border-box;
}

#gameImg {
  width: 100%;
  margin-bottom: 1rem;
}

.panel {
  display: none;
  background-color: black;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
}

.socialMediaBtn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: white;
}

.socialMediaBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

footer {
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: black;
  box-sizing: border-box;
  position: relative;
}

.logo {
  width: auto;
  height: auto;
  max-height: 70px;
  max-width: 200px;
  margin: 0 1rem;
}

.info {
  text-align: center;
  margin-bottom: 1rem;
}

.games-title {
  text-align: center;
  margin: 1rem 0;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
}

.game-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
